<template>
    <div class="v-cart">
        <router-link :to="{name: 'catalog'}">
            <div class="v-catalog__link_to_cart">Back to Catalog</div>
        </router-link>
        <h1>Cart</h1>
        <p v-if="!cart_data.length">There are no products in cart...</p>
        <v-cart-item
            v-for="(item,index) in CART"
            :key="item.article"
            :cart_item_data="item"
            @deleteFromCart="deleteFromCart(index)"
            @increment="increment(index)"
            @decrement="decrement(index)"
        />
        <div class="v-cart__total">
            <p class="total__name">Total:</p>
            <p>{{ formattedPrice(toFix(cartTotalCost)) }} </p>
        </div>
    </div>
</template>

<script>

import vCartItem from '@/components/cart/v-cart-item'
import {mapActions, mapGetters} from "vuex";
import toFix from "@/filters/toFix";
import formattedPrice from "@/filters/price-format";

export default {
    name: "v-cart",
    components: {
        vCartItem
    },
    props: {
        cart_data: {
            type: Array,
            default() {
                return [];
            }
        }
    },
    computed: {
        ...mapGetters([
            'CART'
        ]),
        cartTotalCost() {
            let result = []

            if (this.cart_data.length) {
                console.log(this.cart_data)
                for (let item of this.cart_data) {
                    result.push(item.price * item.quantity)
                }

                result = result.reduce(function(sum, el) {
                    return sum + el
                })
                return result;
            } else {
                return 0;
            }
        },
    },
    methods: {
        ...mapActions([
            'DELETE_FROM_CART',
            'INCREMENT_CART_ITEM',
            'DECREMENT_CART_ITEM'
        ]),
        increment(index) {
            this.INCREMENT_CART_ITEM(index)
        },
        decrement(index) {
            this.DECREMENT_CART_ITEM(index)
        },
        deleteFromCart(index) {
            this.DELETE_FROM_CART(index)
        },
        toFix,
        formattedPrice
    }
}
</script>

<style lang="scss">
    .v-cart {
        margin-bottom: 100px;
        &__total {
            position: fixed;
            bottom: 0;
            right: 0;
            left: 0;
            padding: $padding*2 $padding*3;
            display: flex;
            justify-content: center;
            background: #26ae68;
            color: #ffffff;
            font-size: 20px;
        }
        .total__name {
            margin-right: $margin*2;
        }
    }
</style>
