<template>
    <div class="v-catalog">

        <v-notification
            :messages="messages"
            :timeout="5000"
        />

        <h1>Каталог</h1>
        <div class="filters">
            <v-select
                :selected="selected"
                :options="categories"
                @select="sortByCategories"
            />
            <div class="range-slider">
                <input
                    type="range"
                    min="0"
                    max="10000"
                    step="10"
                    v-model.number="minPrice"
                    @change="setRangeSlider"
                >
                <input
                    type="range"
                    min="0"
                    max="10000"
                    step="10"
                    v-model.number="maxPrice"
                    @change="setRangeSlider"
                >
            </div>
            <div class="range-values">
                <p>Min: {{minPrice}}</p>
                <p>Max: {{maxPrice}}</p>
            </div>
        </div>
        <router-link :to="{name: 'cart', params: {cart_data: CART}}">
            <div class="v-catalog__link_to_cart">Cart: {{CART.length}}</div>
        </router-link>
        <div class="v-catalog__list">
            <v-catalog-item
                v-for="product in filteredProducts"
                :key="product.article"
                :product_data="product"
                @addToCart="addToCart"
            />
        </div>
    </div>
</template>

<script>
import vCatalogItem from '@/components/catalog/v-catalog-item'
import {mapActions, mapGetters} from 'vuex'
import vSelect from "@/components/v-select"
import vNotification from '@/components/notifications/v-notification'

export default {
    name: "v-catalog",
    components: {
        vCatalogItem,
        vSelect,
        vNotification
    },
    props: {},
    data() {
        return {
            categories: [
                {name: 'Все', value: 'All'},
                {name: 'Мужские', value: 'м'},
                {name: 'Женские', value: 'ж'},
            ],
            selected: 'Все',
            sortedProducts: [],
            minPrice: 0,
            maxPrice: 10000,
            messages: []
        }
    },
    computed: {
        ...mapGetters([
            'PRODUCTS',
            'CART',
            'IS_MOBILE',
            'IS_DESKTOP',
            'SEARCH_VALUE'
        ]),
        filteredProducts() {
            if (this.sortedProducts.length) {
                return this.sortedProducts
            } else {
                return this.PRODUCTS
            }
        }
    },
    methods: {
        addToCart(data) {
            this.ADD_TO_CART(data)
            .then(() => {
                let timeStamp = Date.now().toLocaleString();
                this.messages.unshift(
                    { name: 'Товар добавлен в корзину', icon: 'check_circle', id: timeStamp }
                )
            })
        },
        ...mapActions([
            'GET_PRODUCTS_FROM_API',
            'ADD_TO_CART',
        ]),
        setRangeSlider() {
            if (this.minPrice > this.maxPrice) {
                let tmp = this.maxPrice;
                this.maxPrice = this.minPrice;
                this.minPrice = tmp;
            }

            this.sortByCategories()
        },
        sortByCategories(category){
            let vm = this;
            this.sortedProducts = [...this.PRODUCTS]
            this.sortedProducts = this.sortedProducts.filter(function(item){
                return item.price >= vm.minPrice && item.price <= vm.maxPrice
            });
            if (category){
                this.sortedProducts = this.sortedProducts.filter(function(e){
                    vm.selected = category.name;
                    return e.category === category.name
                })
            }
        },
        sortProductsBySearchValue(value) {
            this.sortedProducts = [...this.PRODUCTS]
            if (value) {
                this.sortedProducts = this.sortedProducts.filter(function(item) {
                    return item.name.toLowerCase().includes(value.toLowerCase())
                })
            } else {
                this.sortedProducts = this.PRODUCTS;
            }
        },
        watch: {
            SEARCH_VALUE() {
                this.sortProductsBySearchValue(this.SEARCH_VALUE)
            }
        },
    },
    mounted() {
        this.GET_PRODUCTS_FROM_API()
        .then((response) => {
            if (response.data) {
                console.log('Data arrived!')
                this.sortByCategories()
                this.sortProductsBySearchValue(this.SEARCH_VALUE)
            }
        })
    }
}
</script>

<style lang="scss">
    .v-catalog {
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
    }
    .v-catalog__link_to_cart {
        position: fixed;
        top: 80px;
        right: 10px;
        padding: $padding*2;
        border: solid 1px #aeaeae;
    }

    .filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .range-slider {
        width: 200px;
        margin: auto 16px;
        text-align: center;
        position: relative;
        z-index: 1000;
    }

    .range-slider svg, .range-slider input[type=range] {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    input[type=range]::-webkit-slider-thumb {
        z-index: 2;
        position: relative;
        top: 2px;
        margin-top: -2px;
    }

    input[type=range]  {
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
        border-radius: 10px/100%;
        height: 3px;
        background-color: #CD5C5C;
    }
    input[type=range]::-webkit-slider-thumb {
        background: #E32636;
        border-radius: 100%;
        cursor: pointer;
        width:15px;
        height: 15px;
        -webkit-appearance: none;
        margin-top: -7px;
    }



</style>
