<template>
    <div class="v-catalog-item">
        <v-popup
            v-if="isInfoPopupVisible"
            @closePopup="closePopup"
            rightBtnTitle="Add to Cart"
            :popupTitle="product_data.name"
            @rightBtnAction="addToCart"
        >
            <img class="v-catalog-item__image" :src=" require('@/assets/images/' + product_data.image) "  alt="">
            <div>
                <p class="v-catalog-item__name">{{ product_data.name }}</p>
                <p class="v-catalog-item__price">{{ formattedPrice(toFix(product_data.price)) }}</p>
                <p class="v-catalog-item__price">{{product_data.category}}</p>
            </div>
        </v-popup>

        <img class="v-catalog-item__image" :src=" require('@/assets/images/' + product_data.image) "  alt="">
        <p class="v-catalog-item__name">{{ product_data.name }}</p>
        <p class="v-catalog-item__price">{{ formattedPrice(toFix(product_data.price)) }}</p>
        <button
            class="v-catalog-item__show-info"
            @click="showPopupInfo"
        >
            Show info
        </button>
        <button
            class="v-catalog-item__add_to_cart_button btn"
            @click="addToCart"
        >Add to Cart
        </button>
    </div>
</template>

<script>
import vPopup from '@/components/popup/v-popup'
import toFix from '@/filters/toFix'
import formattedPrice from "@/filters/price-format";

export default {
    name: "v-catalog-item",
    props: {
        product_data: {
            type: Object,
            default() {
                return {}
            }
        }
    },
    data() {
        return {
            isInfoPopupVisible: false,
        }
    },
    components: {
        vPopup
    },
    computed: {

    },
    methods: {
        showPopupInfo() {
            this.isInfoPopupVisible = true
        },
        addToCart() {
            this.$emit('addToCart', this.product_data)
        },
        closePopup() {
            this.isInfoPopupVisible = false
        },
        toFix,
        formattedPrice
    },

}
</script>

<style lang="scss">
    .v-catalog-item {
        flex-basis: 25%;
        box-shadow: 0 0 8px 0 #e0e0e0;
        padding: $padding*2;
        margin-bottom: $margin*2;
        &__image {
            width: 100px;
        }
    }
</style>
