<template>
    <div class="v-header">
        <router-link :to="{name: 'mainPage'}">
            <img src="../../assets/logo.png" alt="">
        </router-link>
        <div class="search-field">
            <input
                type="text"
                v-model="searchValue">
            <button class="search_btn">
                <i class="material-icons"  @click="search(searchValue)">search</i>
            </button>
            <button class="search_btn">
                <i class="material-icons" @click="clearSearchField">cancel</i>
            </button>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "v-header",
    data() {
        return {
            searchValue: ""
        }
    },
    computed: {
        ...mapGetters([
            'SEARCH_VALUE'
        ]),
    },
    methods: {
        ...mapActions([
            'GET_SEARCH_VALUE_TO_VUEX'
        ]),
        search(value) {
            this.GET_SEARCH_VALUE_TO_VUEX(value);
            if (this.$route.path !== '/catalog') {
                this.$router.push('/catalog')
            }
        },
        clearSearchField() {
            this.searchValue = ''
            this.GET_SEARCH_VALUE_TO_VUEX();
            if (this.$route.path !== '/catalog') {
                this.$router.push('/catalog')
            }
        }
    }
}
</script>

<style lang="scss">
    .v-header {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $green-bg;
        padding: 16px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        img {
            width: 50px;
            margin-right: 100px;
        }
        .search-filed {
            padding: 16px;
            position: relative;
            right: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .search_btn {
            margin-left: 16px;
            background: transparent;
            border: none;
            i {
                cursor: pointer;
            }
        }
        .search-field {
            display: flex;
            align-items: center;
        }
    }
</style>
