<template>
    <div class="v-main-wrapper">
        <v-header/>
        <keep-alive>
            <router-view></router-view>
        </keep-alive>
    </div>
</template>

<script>

import vHeader from '@/components/layouts/v-header'
import {mapGetters} from 'vuex'

export default {
    name: "v-main-wrapper",
    components: {
        vHeader
    },
    props: {},
    data() {
        return {
            title: 'Main wrapper'
        }
    },
    computed: {
        ...mapGetters([
            'CART'
        ])
    },
    methods: {},
    watch: {},
}
</script>

<style scoped>
    .v-main-wrapper {
        margin: 0 auto;
    }
</style>
