@import "variables";

.btn {
    padding: $padding $padding*2;
    background: $green-bg;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: $radius;
    &:hover {
        background: lighten($green-bg, 10);
    }
}
